ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 10px;
}

.balance-container {
    display: flex;
    justify-content: space-evenly;

    width: 500px;
    margin: 0 auto;
}

.balance {
    display: flex;
}

.balance-name {
    padding-right: 5px;
}

.balance-positive, .transaction-credit {
    color: green
}

.balance-negative, .transaction-debit {
    color: red
}

.balance-positive {
    font-size: 20px;
}

.balance-negative {
    font-size: 20px;
}