$primaryColour: #007bff;
$primaryBackgroundColour: #c6e6e6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: left;
}

.input-label-above {
  width: 100%;
  margin-bottom: 0;
  font-size: 12px;
  color: grey;
}

input {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.budget-container {

}

.menu-bar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $primaryBackgroundColour;
  padding: 5px;
}

.account-list-container {
  display: flex;
  flex-direction: column;
}

.account-list-item {
  margin: 5px;
}

.content {
  margin-left: 200px;
  padding-left: 5px;
  overflow-y: scroll;
}

.button {
  color: #fff;
  background-color: $primaryColour;
  border-radius: 0.25rem;
  border: solid 1px transparent;
  cursor: pointer;
  padding: 2px;
  text-align: center;
}